<div class="row">
    <div class="col-8">
        <div class="col-lg-3">
            <button>Học ngay</button>
        </div>

        <div class="col-lg-9">
            <h1>{{course.course_id}}</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.course_videoId}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            <p>{{course.course_description}}</p>
        </div>
    </div>
</div>
<div class="col-4">
    {{#each data}}
    <form action="/course/{{this.course_id}}" method="GET">
        <a href="/course/{{this.course_id}}">
            <div class="card card-courses-item" style="width: 8rem;">
                <form action="">
                    <img class="card-img-top" src="{{this.course_image}}" alt="{{this.course_name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.course_name}}</h5>
                        <p class="card-text">{{this.course_description}}</p>
                    </div>
                </form>
            </div>
        </a>
    </form>

    {{/each}}
</div>
</div>
</div>