<link rel="stylesheet" href="/css/app.css">

<div class="mt-4">
    <div class="row">
        {{#each data}}
        {{!-- <div class="col-sm-6 col-lg-4"> --}}
            <div class="card card-courses-item" style="width: 18rem;">
                <img class="card-img-top" src="{{this.course_image}}" alt="{{this.course_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.course_name}}</h5>
                    <p class="card-text">{{this.course_description}}</p>
                    <a href="/course/{{this.course_id}}" class="btn btn-primary">Học ngay</a>
                </div>
            </div>

            {{!--
        </div> --}}
        {{/each}}
    </div>
</div>